{% extends 'old/base1.html' %}
{% block body %}
{% load static %}

    <div class="signup">
      <div class="left-pane">
        <h1>Reset Password</h1>
        <h3>Enter new Password here.</h3>
        <form class="signup-form" action="" method="post">
                    {% csrf_token %}
          <div class="input-element">
            <label for="newPassword">New Password</label>
            <input type="password" class="input-box" name="new_password1"  id="id_new_password1" autocomplete="new-password" required=""/>
          </div>
          <div class="input-element">
            <label for="cNewPassword">Confirm New Password</label>
            <input type="password" class="input-box" name="new_password2" id="id_new_password2" autocomplete="new-password" required="" />
          </div>
          <div class="input-element">
            <input type="submit" value="Reset" class="dark-button" />
          </div>
        </form>
      </div>
      <div class="right-pane">
             <img src="{% static 'files/assets/logo.png' %}" alt="Logo" class="logo" />
        <img src="{% static 'files/assets/reset.svg' %}" alt="Image" class="svg" />
      </div>
    </div>
{% endblock %}
