{% extends 'old/base1.html' %}
{% block body %}
    {% load static %}
    <div class="signup">
      <div class="left-pane">
        <h1>Password Reset Email Sent</h1>
        <h3>
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
              <br>
              If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
             <a href="{% url 'login_func' %}" class="btn btn-theme btn-block">Return to Home Page</a>
        </h3>
      </div>
      <div class="right-pane">
        <img src="{% static 'files/assets/logo.png' %}" alt="Logo" class="logo" />
        <img src="{% static 'files/assets/reset.svg' %}" alt="Image" class="svg" />
      </div>
    </div>
  {% endblock %}

















