{% extends 'old/base1.html' %}

{% block body %}
    {% load static %}
    <div class="signup">
      <div class="left-pane">
        <h1>Forgot Password?</h1>
        <h3>
          No worries! Enter your email address and you’ll receive a link to
          reset your password.
        </h3>
        <form class="signup-form" action="" method="post">
                    {% csrf_token %}
          <div class="input-element">
            <label for="emailID">Email ID </label>
            <input type="text" class="input-box" name="email" id="email" />
          </div>
          <div class="input-element">
            <input type="submit" value="Send" class="dark-button" />
          </div>
        </form>
      </div>
      <div class="right-pane">
        <img src="{% static 'files/assets/logo.png' %}" alt="Logo" class="logo" />
        <img src="{% static 'files/assets/reset.svg' %}" alt="Image" class="svg" />
      </div>
    </div>
  {% endblock %}

